@import "demo.css";

@import "material-dashboard.css";

.test {
    font-size: 64371px;
    color: red;
}

.dropdown_button {
    background: none;
    border: none;
    outline: none;
}

.dropdown_div {
    width: 100px !important;
    left: 91.7% !important;
    top: 5% !important;
}

.dropdown_div a {
    margin-bottom: 25px;
}
.login-form {
    position: absolute;
    left: 35%;
    top: 5%;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    width: 30%;
    height: 45%;
}
.login-div {
    border-bottom: 1px solid black;
}
.login-div a {
    font-size: 50px;
}
.login-input {
    border: none;
    background: none;
    width: 90%;
}

.nav-color {
    width: 89%;
    background: linear-gradient(90deg, rgba(41,41,224,1) 0%, rgba(0,212,255,1) 100%);
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.nav-color:hover {
    left: 10px;
}
